<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../static/admin.css">
</head>
<body>
    <header>
        <div class="mainicon" style="display: inline-flex;">
            <img src="../../static/ear.png" style="height: 2cm;">
            <h1 style="margin-top: 25px; margin-left: 0%;left: 150px;">Voice-O-Pic</h1>
            <h1 class="title">
                Admin Portal
            </h1>
        </div>
    </header>
    <div class="acts">
        <ul>
            <li>
                <div>
                    <a href="users_check">
                        <button>
                            <img src="../../static/user (1).png">
                        </button>
                    </a>
                    <h1>
                        USERS
                    </h1>
                </div>
            </li>
            <li>
                <div>
                    <a href="inventory_check">
                        <button>
                            <img src="../../static/inventory (1).png">
                        </button>
                    </a>
                    <h1>
                        INVENTORY
                    </h1>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>